USE [master]
GO
/****** Object:  Database [ElectricPowerV01]    Script Date: 07/04/2017 05:31:04 ******/
CREATE DATABASE [ElectricPowerV01] ON  PRIMARY 
( NAME = N'ElectricPowerV01', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\ElectricPowerV01.mdf' , SIZE = 3328KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ElectricPowerV01_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\ElectricPowerV01_log.LDF' , SIZE = 1600KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ElectricPowerV01].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ElectricPowerV01]
GO
/****** Object:  Table [dbo].[Subdivision]    Script Date: 07/04/2017 05:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subdivision](
	[SubdivisionId] [int] IDENTITY(1,1) NOT NULL,
	[SubdivisionName] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_dbo.Subdivision] PRIMARY KEY CLUSTERED 
(
	[SubdivisionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Subdivision] ON
INSERT [dbo].[Subdivision] ([SubdivisionId], [SubdivisionName]) VALUES (1, N'ЖРЕО 401')
INSERT [dbo].[Subdivision] ([SubdivisionId], [SubdivisionName]) VALUES (2, N'ЖРЕО 402')
INSERT [dbo].[Subdivision] ([SubdivisionId], [SubdivisionName]) VALUES (3, N'ЖРЕО 403')
SET IDENTITY_INSERT [dbo].[Subdivision] OFF
/****** Object:  Table [dbo].[Street]    Script Date: 07/04/2017 05:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Street](
	[StreetId] [int] IDENTITY(1,1) NOT NULL,
	[StreetName] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.Street] PRIMARY KEY CLUSTERED 
(
	[StreetId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Street] ON
INSERT [dbo].[Street] ([StreetId], [StreetName]) VALUES (1, N'вул. А. Шептицького')
INSERT [dbo].[Street] ([StreetId], [StreetName]) VALUES (2, N'вул. Мильчакова Олександра')
INSERT [dbo].[Street] ([StreetId], [StreetName]) VALUES (3, N'вул. Челябінська')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Street] OFF
/****** Object:  Table [dbo].[PurposePos]    Script Date: 07/04/2017 05:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurposePos](
	[PurposePosId] [int] IDENTITY(1,1) NOT NULL,
	[PurposePosName] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_dbo.PurposePos] PRIMARY KEY CLUSTERED 
(
	[PurposePosId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PurposePos] ON
INSERT [dbo].[PurposePos] ([PurposePosId], [PurposePosName]) VALUES (1, N'Освітлення сходових клітин')
INSERT [dbo].[PurposePos] ([PurposePosId], [PurposePosName]) VALUES (2, N'Аварійне освітлення')
INSERT [dbo].[PurposePos] ([PurposePosId], [PurposePosName]) VALUES (3, N'Підвал')
SET IDENTITY_INSERT [dbo].[PurposePos] OFF
/****** Object:  Table [dbo].[Purpose]    Script Date: 07/04/2017 05:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purpose](
	[PurposeId] [int] IDENTITY(1,1) NOT NULL,
	[PurposeName] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_dbo.Purpose] PRIMARY KEY CLUSTERED 
(
	[PurposeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Purpose] ON
INSERT [dbo].[Purpose] ([PurposeId], [PurposeName]) VALUES (1, N'Освітлення місць загального користування і підвалів')
INSERT [dbo].[Purpose] ([PurposeId], [PurposeName]) VALUES (2, N'Енергопостачання ліфтів')
INSERT [dbo].[Purpose] ([PurposeId], [PurposeName]) VALUES (3, N'Індивідуальній тепловий пункт')
SET IDENTITY_INSERT [dbo].[Purpose] OFF
/****** Object:  Table [dbo].[KpInitialEntity]    Script Date: 07/04/2017 05:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KpInitialEntity](
	[KpInitialEntityId] [int] IDENTITY(1,1) NOT NULL,
	[FullNumberCounter] [nvarchar](64) NULL,
	[NumberCounter] [nvarchar](24) NULL,
	[NumberContract] [nvarchar](12) NULL,
	[Address] [nvarchar](64) NULL,
	[TypeCounter] [nvarchar](24) NULL,
	[FabricNumberCounter] [nvarchar](24) NULL,
	[Koef] [int] NOT NULL,
 CONSTRAINT [PK_dbo.KpInitialEntity] PRIMARY KEY CLUSTERED 
(
	[KpInitialEntityId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[KpInitialEntity] ON
INSERT [dbo].[KpInitialEntity] ([KpInitialEntityId], [FullNumberCounter], [NumberCounter], [NumberContract], [Address], [TypeCounter], [FabricNumberCounter], [Koef]) VALUES (1, N'350403.00001 освіт.', N'350403.00001', N'350403', N'вул. Бойченка Олександра, 12', N'НІК 2301 АП3 (6)', N'0512166', 1)
INSERT [dbo].[KpInitialEntity] ([KpInitialEntityId], [FullNumberCounter], [NumberCounter], [NumberContract], [Address], [TypeCounter], [FabricNumberCounter], [Koef]) VALUES (2, N'350403.00002ліфт', N'350403.00002', N'350403', N'вул. Бойченка Олександра, 12', N'НІК 2301 АП3 (6)', N'0485291', 1)
INSERT [dbo].[KpInitialEntity] ([KpInitialEntityId], [FullNumberCounter], [NumberCounter], [NumberContract], [Address], [TypeCounter], [FabricNumberCounter], [Koef]) VALUES (3, N'350403.00004 ліфти', N'350403.00004', N'350403', N'вул. Бойченка Олександра, 10', N'НІК 2301 АП3 (6)', N'0513513', 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
SET IDENTITY_INSERT [dbo].[KpInitialEntity] OFF
/****** Object:  Table [dbo].[CounterContract]    Script Date: 07/04/2017 05:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CounterContract](
	[CounterContractId] [int] IDENTITY(1,1) NOT NULL,
	[CounterContractName] [nvarchar](24) NOT NULL,
 CONSTRAINT [PK_dbo.CounterContract] PRIMARY KEY CLUSTERED 
(
	[CounterContractId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CounterContract] ON
INSERT [dbo].[CounterContract] ([CounterContractId], [CounterContractName]) VALUES (1, N'350403')
INSERT [dbo].[CounterContract] ([CounterContractId], [CounterContractName]) VALUES (2, N'350404')
INSERT [dbo].[CounterContract] ([CounterContractId], [CounterContractName]) VALUES (3, N'350405')
SET IDENTITY_INSERT [dbo].[CounterContract] OFF
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 07/04/2017 05:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Consumer]    Script Date: 07/04/2017 05:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consumer](
	[ConsumerId] [int] IDENTITY(1,1) NOT NULL,
	[ConsumerName] [nvarchar](128) NULL,
	[CompanyId] [int] NULL,
 CONSTRAINT [PK_dbo.Consumer] PRIMARY KEY CLUSTERED 
(
	[ConsumerId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 07/04/2017 05:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[AddressId] [int] IDENTITY(1,1) NOT NULL,
	[StreetId] [int] NOT NULL,
	[SubdivisionId] [int] NOT NULL,
	[House] [nvarchar](12) NOT NULL,
	[Serial] [nvarchar](24) NULL,
	[СountFloor] [int] NULL,
	[СountEntrance] [int] NULL,
	[Latitude] [decimal](18, 2) NOT NULL,
	[Longitude] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Address] PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_StreetId] ON [dbo].[Address] 
(
	[StreetId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_SubdivisionId] ON [dbo].[Address] 
(
	[SubdivisionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address] ON
INSERT [dbo].[Address] ([AddressId], [StreetId], [SubdivisionId], [House], [Serial], [СountFloor], [СountEntrance], [Latitude], [Longitude]) VALUES (1, 45, 2, N'34/1', NULL, NULL, NULL, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Address] ([AddressId], [StreetId], [SubdivisionId], [House], [Serial], [СountFloor], [СountEntrance], [Latitude], [Longitude]) VALUES (2, 45, 2, N'35', NULL, NULL, NULL, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Address] ([AddressId], [StreetId], [SubdivisionId], [House], [Serial], [СountFloor], [СountEntrance], [Latitude], [Longitude]) VALUES (3, 45, 2, N'36', NULL, NULL, NULL, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
SET IDENTITY_INSERT [dbo].[Address] OFF
/****** Object:  Table [dbo].[Counter]    Script Date: 07/04/2017 05:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Counter](
	[CounterId] [int] IDENTITY(1,1) NOT NULL,
	[CounterFullName] [nvarchar](24) NOT NULL,
	[CounterNumber] [nvarchar](12) NOT NULL,
	[CounterType] [nvarchar](24) NULL,
	[CounterFactoryNumber] [nvarchar](24) NULL,
	[Coefficient] [int] NOT NULL,
	[CounterContractId] [int] NOT NULL,
	[AddressId] [int] NOT NULL,
	[PurposeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Counter] PRIMARY KEY CLUSTERED 
(
	[CounterId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_AddressId] ON [dbo].[Counter] 
(
	[AddressId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CounterContractId] ON [dbo].[Counter] 
(
	[CounterContractId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PurposeId] ON [dbo].[Counter] 
(
	[PurposeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Counter] ON
INSERT [dbo].[Counter] ([CounterId], [CounterFullName], [CounterNumber], [CounterType], [CounterFactoryNumber], [Coefficient], [CounterContractId], [AddressId], [PurposeId]) VALUES (5, N'350403.00001', N'00001', N'НІК 2301 АП3 (6)', NULL, 1, 1, 839, 1)
INSERT [dbo].[Counter] ([CounterId], [CounterFullName], [CounterNumber], [CounterType], [CounterFactoryNumber], [Coefficient], [CounterContractId], [AddressId], [PurposeId]) VALUES (6, N'350403.00002', N'00002', N'НІК 2301 АП3 (6)', NULL, 1, 1, 839, 2)
INSERT [dbo].[Counter] ([CounterId], [CounterFullName], [CounterNumber], [CounterType], [CounterFactoryNumber], [Coefficient], [CounterContractId], [AddressId], [PurposeId]) VALUES (7, N'350403.00004', N'00004', N'НІК 2301 АП3 (6)', NULL, 1, 1, 824, 2)
SET IDENTITY_INSERT [dbo].[Counter] OFF
/****** Object:  Table [dbo].[ConsumerRent]    Script Date: 07/04/2017 05:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsumerRent](
	[ConsumerRentId] [int] IDENTITY(1,1) NOT NULL,
	[ConsumerId] [int] NOT NULL,
	[AddressId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ConsumerRent] PRIMARY KEY CLUSTERED 
(
	[ConsumerRentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_AddressId] ON [dbo].[ConsumerRent] 
(
	[AddressId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ConsumerId] ON [dbo].[ConsumerRent] 
(
	[ConsumerId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsumerContract]    Script Date: 07/04/2017 05:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsumerContract](
	[ConsumerContractId] [int] IDENTITY(1,1) NOT NULL,
	[ConsumerRentId] [int] NOT NULL,
	[DateStart] [datetime] NOT NULL,
	[DateEnd] [datetime] NOT NULL,
	[PercentUsage] [int] NOT NULL,
	[KvattUsage] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ConsumerContract] PRIMARY KEY CLUSTERED 
(
	[ConsumerContractId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ConsumerRentId] ON [dbo].[ConsumerContract] 
(
	[ConsumerRentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_dbo.Address_dbo.Street_StreetId]    Script Date: 07/04/2017 05:31:05 ******/
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Address_dbo.Street_StreetId] FOREIGN KEY([StreetId])
REFERENCES [dbo].[Street] ([StreetId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_dbo.Address_dbo.Street_StreetId]
GO
/****** Object:  ForeignKey [FK_dbo.Address_dbo.Subdivision_SubdivisionId]    Script Date: 07/04/2017 05:31:05 ******/
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Address_dbo.Subdivision_SubdivisionId] FOREIGN KEY([SubdivisionId])
REFERENCES [dbo].[Subdivision] ([SubdivisionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_dbo.Address_dbo.Subdivision_SubdivisionId]
GO
/****** Object:  ForeignKey [FK_dbo.Counter_dbo.Address_AddressId]    Script Date: 07/04/2017 05:31:05 ******/
ALTER TABLE [dbo].[Counter]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Counter_dbo.Address_AddressId] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Address] ([AddressId])
GO
ALTER TABLE [dbo].[Counter] CHECK CONSTRAINT [FK_dbo.Counter_dbo.Address_AddressId]
GO
/****** Object:  ForeignKey [FK_dbo.Counter_dbo.CounterContract_CounterContractId]    Script Date: 07/04/2017 05:31:05 ******/
ALTER TABLE [dbo].[Counter]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Counter_dbo.CounterContract_CounterContractId] FOREIGN KEY([CounterContractId])
REFERENCES [dbo].[CounterContract] ([CounterContractId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Counter] CHECK CONSTRAINT [FK_dbo.Counter_dbo.CounterContract_CounterContractId]
GO
/****** Object:  ForeignKey [FK_dbo.Counter_dbo.Purpose_PurposeId]    Script Date: 07/04/2017 05:31:05 ******/
ALTER TABLE [dbo].[Counter]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Counter_dbo.Purpose_PurposeId] FOREIGN KEY([PurposeId])
REFERENCES [dbo].[Purpose] ([PurposeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Counter] CHECK CONSTRAINT [FK_dbo.Counter_dbo.Purpose_PurposeId]
GO
/****** Object:  ForeignKey [FK_dbo.ConsumerRent_dbo.Address_AddressId]    Script Date: 07/04/2017 05:31:05 ******/
ALTER TABLE [dbo].[ConsumerRent]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ConsumerRent_dbo.Address_AddressId] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Address] ([AddressId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ConsumerRent] CHECK CONSTRAINT [FK_dbo.ConsumerRent_dbo.Address_AddressId]
GO
/****** Object:  ForeignKey [FK_dbo.ConsumerRent_dbo.Consumer_ConsumerId]    Script Date: 07/04/2017 05:31:05 ******/
ALTER TABLE [dbo].[ConsumerRent]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ConsumerRent_dbo.Consumer_ConsumerId] FOREIGN KEY([ConsumerId])
REFERENCES [dbo].[Consumer] ([ConsumerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ConsumerRent] CHECK CONSTRAINT [FK_dbo.ConsumerRent_dbo.Consumer_ConsumerId]
GO
/****** Object:  ForeignKey [FK_dbo.ConsumerContract_dbo.ConsumerRent_ConsumerRentId]    Script Date: 07/04/2017 05:31:05 ******/
ALTER TABLE [dbo].[ConsumerContract]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ConsumerContract_dbo.ConsumerRent_ConsumerRentId] FOREIGN KEY([ConsumerRentId])
REFERENCES [dbo].[ConsumerRent] ([ConsumerRentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ConsumerContract] CHECK CONSTRAINT [FK_dbo.ConsumerContract_dbo.ConsumerRent_ConsumerRentId]
GO
